body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height: 100%;
}

.col-md-6 {
    border: 7px solid #111;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
}
button{
    margin: 20px;
    border: 2px solid #111 !important;
}
h1{
    font-weight: bolder;
    margin: 20px;
}

.footer .footer-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
footer{
    padding: 20px 23px;
    color: #111;
    text-align: center;
}
.icons .fa{
    color: #222;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
footer p a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: crimson;
    text-decoration: none;
    font-weight: bolder;
}
footer p a:hover{
    color: crimson;
}
footer p a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
footer a:hover::after{
    width: 100%;
}